name: Deploy Angular App

on:
  push:
    branches: [ "master" ]

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - name: SSH and Deploy Angular
        run: |
          ssh -o StrictHostKeyChecking=no egg13@192.168.10.20 << 'EOF'
            # 1. Asegurar que la carpeta existe y entrar
            mkdir -p ~/angular_publicaciones
            cd ~/angular_publicaciones

            # 2. Clonar si no existe, o limpiar y actualizar si existe
            if [ ! -d ".git" ]; then
              git clone https://github.com/cromwwwell13/test-actions-egg.git .
            else
              git fetch --all
              git reset --hard origin/master
            fi

            # 3. Construir la imagen (usando BuildKit para evitar el error de DEPRECATED)
            DOCKER_BUILDKIT=1 docker build -t angular-app .

            # 4. Limpiar contenedor viejo si existe
            docker rm -f angular-cont || true

            # 5. Levantar el nuevo
            docker run -d \
              --name angular-cont \
              --net mis-servicios \
              -p 4200:80 \
              --restart always \
              angular-app
          EOF
